body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to right, rgb(239, 77, 234), rgb(236, 208, 208));
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
